rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Regras para as imagens capturadas
    match /captures/{allPaths=**} {
      // Permite leitura pública
      allow read: if true;
      // Permite escrita pública (ajuste conforme necessário para produção)
      allow write: if true;
    }
  }
}

